@page "/chat"

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<div>
    <label>
        Request
        <input type="text" class="form-control" @bind="request" />
    </label>
</div>
<div>
    <label>
        Response:
        <p>@response</p>
    </label>
</div>

<button class="btn btn-primary" @onclick="Send">Send</button>

@code {
    private string? request = "", response = "THIS IS THE INITIAL VALUE.";

    private void Send()
    {
        request = null;
        response = "THIS IS THE NEW RESPONSE.";
    }
}